---
import { getCollection } from "astro:content";
import { getAbsoluteLocaleUrl } from "astro:i18n";
import Layout from "@/layouts/Layout.astro";
import ImageMeta from "@/components/ImageMeta.astro";
import { getImage, Picture } from "astro:assets";
import lqipJson from "@/images.json";

export const prerender = true;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/images/*.{jpeg,jpg,png,gif}",
);

export async function getStaticPaths() {
  const englishImages = await getCollection("images", ({ id }) => {
    return id.startsWith("en/");
  });
  const paths = englishImages.map((page) => {
    const [lang, ...slug] = page.slug.split("/");
    return { params: { lang, slug: slug.join("/") || undefined }, props: page };
  });

  return paths;
}
const page = Astro.props;
const [locale, slugWithoutPath] = page.slug.split("/");
const imagePath = `/src/images/${slugWithoutPath}.jpg`;
const lqip = lqipJson[slugWithoutPath as keyof typeof lqipJson];
---

<Layout
  title={`Details of the image ${page.data.title}`}
  imageSlug={page.slug.split("/")[1]}
>
  <main class="w-full flex flex-col gap-2">
    <div
      class="bg-cover bg-center overflow-hidden flex items-center w-full max-h-48 md:max-h-56 lg:max-h-full"
      style={`background-image: url(${lqip})`}
    >
      <Picture
        pictureAttributes={{ style: "height: 100%; width:100%" }}
        class="main-image h-full object-contain object-center w-full"
        sizes="100vw"
        widths={[630, 1260, 1890, 2520]}
        formats={["jpeg"]}
        src={images[imagePath]()}
        alt={page?.data.imageAlt || ""}
        onload="this.style.opacity=1"
      />
    </div>
    <div class="flex flex-col gap-1 container mx-auto mb-6 px-10">
      <ImageMeta image={page} />
      <a
        href={getAbsoluteLocaleUrl(locale, slugWithoutPath)}
        class="text-xl text-bold link">&larr; Back to the saying</a
      >
    </div>
  </main>
</Layout>

<style>
  .main-image {
    opacity: 0;
    transition: all 500ms ease;
  }
</style>
