---
import type { CollectionEntry } from "astro:content";

interface Props {
  image: CollectionEntry<"images">;
}
const { image } = Astro.props;
---

<div class="py-4 flex flex-col gap-1">
  <h4 class="mt-0 text-lg font-bold">Information about the image</h4>
  <dl>
    <dt class="text-sm font-semibold">Title</dt>
    <dd class="text-sm">{image.data.title}</dd>
    <dt class="text-sm font-semibold">Author</dt>
    <dl class="text-sm">{image.data.author}</dl>
    <dt class="text-sm font-semibold">Date</dt>
    <dl class="text-sm">{image.data.date}</dl>
    {
      image.data.geographicalOrigin && (
        <>
          <dt class="text-sm font-semibold">Geographical origin</dt>
          <dl class="text-sm">{image.data.geographicalOrigin}</dl>
        </>
      )
    }
    {
      image.data.description && (
        <>
          <dt class="text-sm font-semibold">Description</dt>
          <dl class="text-sm">{image.data.description}</dl>
        </>
      )
    }
    <dt class="text-sm font-semibold">Copyright</dt>
    <dd class="text-sm">{image.data.copyright}</dd>
    <dt class="text-sm font-semibold">Source</dt>
    <dd class="text-sm">
      <a href={image.data.sourceUrl} class="link">{image.data.source}</a>
    </dd>
  </dl>
</div>

<style>
  dl {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
  }
</style>
